.u-section-1 .u-sheet-1 {
  min-height: 1015px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  width: 681px;
  margin: 10px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 903px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: -30px 20px 0 -20px;
}

.u-section-1 .u-text-3 {
  margin: 10px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 11px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 6px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 11px 0 0;
}

.u-section-1 .u-text-7 {
  margin: 11px 0 0;
}

.u-section-1 .u-text-8 {
  margin: 11px 0 0;
}

.u-section-1 .u-text-9 {
  margin: 11px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 903px;
  background-image: url("images/9af6cb44-d67d-cc8b-e03e-95b49ff9368b1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 903px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: -30px 20px 0 -20px;
}

.u-section-1 .u-text-11 {
  margin: 11px 0 0;
}

.u-section-1 .u-text-12 {
  margin: 11px 0 0;
}

.u-section-1 .u-text-13 {
  margin: 6px 0 0;
}

.u-section-1 .u-text-14 {
  margin: 11px 0 0;
}

.u-section-1 .u-text-15 {
  margin: 11px 0 0;
}

.u-section-1 .u-text-16 {
  margin: 11px 0 0;
}

.u-section-1 .u-text-17 {
  margin: 11px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 972px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 745px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 37px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-1 {
    min-height: 745px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 745px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-top: 7px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 35px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 5px;
  }

  .u-section-1 .u-text-17 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1836px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    min-height: 856px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2157px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 1284px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1639px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 808px;
  }
}