.u-section-1 .u-sheet-1 {
  min-height: 281px;
}

.u-section-1 .u-btn-1 {
  font-size: 0.750rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 500;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-btn-1 {
  font-size: 0.750rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 500;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-btn-3 {
  font-size: 0.750rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 500;
  text-transform: uppercase;
  background-image: none;
  margin: -46px auto 0 292px;
}

.u-section-1 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: -46px auto 0 419px;
}

.u-section-1 .u-btn-5 {
  font-size: 0.875rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: -46px 375px 0 auto;
}

.u-section-1 .u-btn-6 {
  font-size: 0.875rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: -46px 179px 0 auto;
  padding: 10px 17px 10px 15px;
}

.u-section-1 .u-btn-7 {
  font-size: 0.875rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: -46px 0 0 auto;
  padding: 9px 14px 11px 12px;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2550px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 219px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 175px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 532px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -558px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1700px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 1425px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -1451px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2466px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 1949px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -1975px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2096px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 3172px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -3198px;
  }
}