.u-section-1 .u-sheet-1 {
  min-height: 537px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 9px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 18px 0 0;
}

.u-section-1 .u-table-1 {
  margin-top: 22px;
  margin-bottom: 9px;
}

.u-block-7f28-5 {
  background-image: none;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-7 {
  background-image: none;
}

.u-section-1 .u-table-cell-12 {
  background-image: none;
}

.u-section-1 .u-table-cell-17 {
  background-image: none;
}

.u-section-1 .u-table-cell-22 {
  background-image: none;
}

.u-block-7f28-32 {
  background-image: none;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 394px;
}

.u-section-2 .u-table-1 {
  margin-top: 0;
  margin-bottom: 20px;
}

.u-block-5445-5 {
  background-image: none;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-7 {
  background-image: none;
}

.u-section-2 .u-table-cell-12 {
  background-image: none;
}

.u-section-2 .u-table-cell-17 {
  background-image: none;
}

.u-section-2 .u-table-cell-22 {
  background-image: none;
}

.u-block-5445-32 {
  background-image: none;
}.u-section-3 .u-sheet-1 {
  min-height: 394px;
}

.u-section-3 .u-table-1 {
  margin-top: 0;
  margin-bottom: 20px;
}

.u-block-8f02-5 {
  background-image: none;
}

.u-section-3 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-table-cell-7 {
  background-image: none;
}

.u-section-3 .u-table-cell-12 {
  background-image: none;
}

.u-section-3 .u-table-cell-17 {
  background-image: none;
}

.u-section-3 .u-table-cell-22 {
  background-image: none;
}

.u-block-8f02-32 {
  background-image: none;
}.u-section-4 .u-sheet-1 {
  min-height: 394px;
}

.u-section-4 .u-table-1 {
  margin-top: 0;
  margin-bottom: 20px;
}

.u-block-04f3-5 {
  background-image: none;
}

.u-section-4 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-4 .u-table-cell-7 {
  background-image: none;
}

.u-section-4 .u-table-cell-12 {
  background-image: none;
}

.u-section-4 .u-table-cell-17 {
  background-image: none;
}

.u-section-4 .u-table-cell-22 {
  background-image: none;
}

.u-block-04f3-32 {
  background-image: none;
}.u-section-5 .u-sheet-1 {
  min-height: 394px;
}

.u-section-5 .u-table-1 {
  margin-top: 0;
  margin-bottom: 20px;
}

.u-block-f61d-5 {
  background-image: none;
}

.u-section-5 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-5 .u-table-cell-7 {
  background-image: none;
}

.u-section-5 .u-table-cell-12 {
  background-image: none;
}

.u-section-5 .u-table-cell-17 {
  background-image: none;
}

.u-section-5 .u-table-cell-22 {
  background-image: none;
}

.u-block-f61d-32 {
  background-image: none;
}.u-section-6 .u-sheet-1 {
  min-height: 394px;
}

.u-section-6 .u-table-1 {
  margin-top: 0;
  margin-bottom: 20px;
}

.u-block-78aa-5 {
  background-image: none;
}

.u-section-6 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-6 .u-table-cell-7 {
  background-image: none;
}

.u-section-6 .u-table-cell-12 {
  background-image: none;
}

.u-section-6 .u-table-cell-17 {
  background-image: none;
}

.u-section-6 .u-table-cell-22 {
  background-image: none;
}

.u-block-78aa-32 {
  background-image: none;
}.u-section-7 .u-sheet-1 {
  min-height: 394px;
}

.u-section-7 .u-table-1 {
  margin-top: 0;
  margin-bottom: 20px;
}

.u-block-b861-5 {
  background-image: none;
}

.u-section-7 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-7 .u-table-cell-7 {
  background-image: none;
}

.u-section-7 .u-table-cell-12 {
  background-image: none;
}

.u-section-7 .u-table-cell-17 {
  background-image: none;
}

.u-section-7 .u-table-cell-22 {
  background-image: none;
}

.u-block-b861-32 {
  background-image: none;
}.u-section-8 .u-sheet-1 {
  min-height: 394px;
}

.u-section-8 .u-table-1 {
  margin-top: 0;
  margin-bottom: 20px;
}

.u-block-8ff0-5 {
  background-image: none;
}

.u-section-8 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-8 .u-table-cell-7 {
  background-image: none;
}

.u-section-8 .u-table-cell-12 {
  background-image: none;
}

.u-section-8 .u-table-cell-17 {
  background-image: none;
}

.u-section-8 .u-table-cell-22 {
  background-image: none;
}

.u-block-8ff0-32 {
  background-image: none;
}.u-section-9 .u-sheet-1 {
  min-height: 394px;
}

.u-section-9 .u-table-1 {
  margin-top: 0;
  margin-bottom: 20px;
}

.u-block-e11f-5 {
  background-image: none;
}

.u-section-9 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-9 .u-table-cell-7 {
  background-image: none;
}

.u-section-9 .u-table-cell-12 {
  background-image: none;
}

.u-section-9 .u-table-cell-17 {
  background-image: none;
}

.u-section-9 .u-table-cell-22 {
  background-image: none;
}

.u-block-e11f-32 {
  background-image: none;
}.u-section-10 .u-sheet-1 {
  min-height: 409px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-10 .u-table-1 {
  margin: 2px auto 2px 0;
}

.u-block-63f4-46 {
  background-image: none;
}

.u-section-10 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-10 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-10 .u-table-cell-5 {
  background-image: none;
}

.u-section-10 .u-table-cell-9 {
  background-image: none;
}

.u-section-10 .u-table-cell-13 {
  background-image: none;
}

.u-section-10 .u-table-cell-17 {
  background-image: none;
}

.u-block-63f4-35 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-10 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 388px;
}

.u-section-11 .u-table-1 {
  margin-top: 28px;
  margin-bottom: 10px;
}

.u-block-d8e2-46 {
  background-image: none;
}

.u-section-11 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-11 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-11 .u-table-cell-5 {
  background-image: none;
}

.u-section-11 .u-table-cell-9 {
  background-image: none;
}

.u-section-11 .u-table-cell-13 {
  background-image: none;
}

.u-section-11 .u-table-cell-17 {
  background-image: none;
}

.u-block-d8e2-35 {
  background-image: none;
}.u-section-12 .u-sheet-1 {
  min-height: 388px;
}

.u-section-12 .u-table-1 {
  margin-top: 28px;
  margin-bottom: 10px;
}

.u-block-8e6b-46 {
  background-image: none;
}

.u-section-12 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-12 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-12 .u-table-cell-5 {
  background-image: none;
}

.u-section-12 .u-table-cell-9 {
  background-image: none;
}

.u-section-12 .u-table-cell-13 {
  background-image: none;
}

.u-section-12 .u-table-cell-17 {
  background-image: none;
}

.u-block-8e6b-35 {
  background-image: none;
}